<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Availabook Social Network - Landing Page</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'homepage/img/group.png' %}">

    <!-- Bootstrap Core CSS -->
    {% load static %}
    <link href="{% static 'homepage/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static 'homepage/css/landing-page.css' %}" rel="stylesheet">
    {% load static %}
    <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    {% load static %}
    <link href="{% static 'homepage/fonts/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>


    <!-- Navigation -->
  <nav top="0" class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <!-- herf below can also be {% url 'availabook:index' %} -->
          <a href="/availabook" class="navbar-brand topnav">Availabook</a>
      </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
            <!-- /.navbar-collapse -->
    </div>
        <!-- /.container -->
  </nav>

<body>
<div class="loader"></div>
<script>
   //This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      //document.location.reload();
      testAPI();
    } else {
      console.log("else: not connected")
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    },{scope: 'email'});
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '369715696758161',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  },{scope: 'email'});

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  }, {scope: 'email'});

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=369715696758161";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me?fields=email,age_range,timezone,locale, name,first_name, last_name, picture.width(350).height(350)', function(response) {
      console.log(response);
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.first_name + '!';
       $.ajax({
            /* Use absolute url */
            url : "/availabook/fb_login/", // the endpoint
            type : "POST", // http method
            data : {
                email : response.email,
                psw: response.id,
                fn : response.first_name,
                ln : response.last_name,
                age: response.age_range.min,
                picture: response.picture.data.url
            }, // data sent with the post request
            success : function(msg) {
                //$("body").html(msg);
                console.log("fb_login success!");
                window.location.reload();
                window.location.href = "/availabook/home";
            },

            error : function(xhr,errmsg,err) {
                console.log("fb_login " + errmsg);
            }
        });
    });
  }

  // function userLogin()
  //   {
  //       FB.logout(function(response) {});
  //       console.log("here");
  //       FB.login(function(response)
  //       {
  //          if (response && response.status === 'connected') {
  //           console.log("test");
  //               testAPI();
  //               //document.location.reload();
  //           }
  //           else {console.log("else: not connected");
  //   }
  //       },  { auth_type: 'reauthenticate' });
  //   }


</script>

  <a name="about"></a>
    <div class="intro-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1>Availabook</h1>
              <h3>A Social Network Website</h3>
              <hr class="intro-divider">
              <ul class="list-inline intro-social-buttons">
                <li>
                  <button id="home_login_btn" onclick="document.getElementById('login').style.display='block'"  class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Login</span></button>
                </li>
                <li>
                  <button id="home_signup_btn" onclick="document.getElementById('signup').style.display='block'"  class="btn btn-default btn-lg"><i class="fa fa-cloud fa-fw"></i> <span class="network-name">Sign up</span></button>
                </li>
                <li>
                  <form action="/availabook/home">
                    <button id="visitor_btn" class="btn btn-default btn-lg"><i class="fa fa-coffee fa-fw"></i> <span class="network-name">Visitor</span></button>
                  </form>
                </li>
              </ul>
              <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="testAPI();"></div>
            </div>
            <div id="status"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <div id="login" class="modal">
      <div class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container">
          <label><b>Email Address</b></label>
          <br>
          <input type="text" placeholder="Email Address" id="login_id" required>
          <br>
          <label><b>Password</b></label>
          <br>
          <input type="password" placeholder="Password" id="login_psw" required>
          <br>
          <button type="submit" id="login_btn" style="margin-right:137px" class="subbtn">Login</button>
          <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </div>
    </div>

    <div id="signup" class="modal">
      <div class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container">
          <label><b>Email Address</b></label>
          <br>
          <input type="text" placeholder="Email Address" id="signup_email" required>
          <br>
          <label><b>Password</b></label>
          <br>
          <input type="password" placeholder="Password" id="signup_psw" required>
          <br>
          <label><b>Verify Password</b></label>
          <br>
          <input type="password" placeholder="Password" id="signup_psw_a" required>
          <br>
          <label><b>First Name</b></label>
          <br>
          <input type="text" placeholder="First Name" id="signup_fn" required>
          <br>
          <label><b>Last Name</b></label>
          <br>
          <input type="text" placeholder="Last Name" id="signup_ln" required>
          <br>
          <label><b>Age</b></label>
          <br>
          <input type="text" placeholder="Integer" id="signup_age" required>
          <br>
          <label><b>City</b></label>
          <br>
          <input type="text" placeholder="City" id="signup_city" required>
          <br>
          <label><b>Zipcode</b></label>
          <br>
          <input type="text" placeholder="Zipcode" id="signup_zipcode" required>
          <br>
          <button type="submit" id="signup_btn" style="margin-right:133px" class="subbtn">Sign up</button>
          <button type="button" onclick="document.getElementById('signup').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </div>
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">A New World<br>and Events</h2>
            <p class="lead">Let's explore the world with exciting events!</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            {% load static %}
            <img class="img-responsive" src="{% static 'homepage/img/events.jpg' %}" alt="">
          </div>
        </div>
      </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">A Wonderful Life<br>with Friends</h2>
            <p class="lead">Let's find new friends at Availabook!</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            {% load static %}
            <img class="img-responsive" src="{% static 'homepage/img/dog.png' %}" alt="">
          </div>
        </div>
      </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">An Awesome Place<br>of Interests</h2>
            <p class="lead">Enjoy your interests, NOW!</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            {% load static %}
            <img class="img-responsive" src="{% static 'homepage/img/interests.png' %}" alt="">
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Connect to Availabook:</h2>
          </div>
          <div class="col-lg-6">
            <ul class="list-inline banner-social-buttons">
              <li>
                <button id="home_login_btn" onclick="document.getElementById('login').style.display='block'"  class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Login</span></button>
              </li>
              <li>
                <button id="home_signup_btn" onclick="document.getElementById('signup').style.display='block'"  class="btn btn-default btn-lg"><i class="fa fa-cloud fa-fw"></i> <span class="network-name">Sign up</span></button>
              </li>
              <li>
                <form action="/availabook/home">
                  <button id="visitor_btn" class="btn btn-default btn-lg"><i class="fa fa-coffee fa-fw"></i> <span class="network-name">Visitor</span></button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer style="border-top: 7px solid #7a7a7a;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="#">Home</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#about">About</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#services">Services</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; Availabook 2017. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    {% load static %}
    <script src= "{% static 'homepage/js/bootstrap.js' %}"></script>
    {% load static %}
    <script src= "{% static 'homepage/js/csrf.js' %}"></script>
    {% load static %}
    <script src= "{% static 'homepage/js/availabook.js' %}"></script>

</body>

</html>
