
<!DOCTYPE html>
<html lang="en">
  <head>
  <script>
  function is_int(value){ 
  if ((parseFloat(value) == parseInt(value)) && !isNaN(value)) {
    return true;
  } else { 
    return false;
  } 
}
  </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Availabook Social Network</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
  </head>

  <body>

  <header>
    <div class="container">
      <img src="img/logo.png" class="logo" alt="">
<!--       <form class="form-inline">
      <a href="signup.html" style="color:white">Sign up</a>
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail3">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword3">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button><br>
        <div class="checkbox">
          <label>
            <!-- <input type="checkbox"> Remember me -->
<!--           </label>
        </div>
        <br>
      </form> --> 
    </div>
  </header>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <!-- <li><a href="members.html">Members</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="groups.html">Groups</a></li>
            <li><a href="photos.html">Photos</a></li> -->
            <!-- <li><a href="profile.html">Profile</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class = "col-xs-3">
  <div class="modal-body">
                <form id="signUpForm">
                    <div class="form-group">
                        <label for="signUpEmail">Email Address</label>
                        <input type="email" class="form-control" id="signUpEmail" placeholder="Email Address" name="email">
                    </div>
                    <div class="form-group">
                        <label for="signUpPassword">Password</label>
                        <input type="password" class="form-control" id="signUpPassword" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="signUpPasswordCheck">Veirify Password</label>
                        <input type="password" class="form-control" id="signUpPasswordCheck" placeholder="Password" name="passwordCheck">
                    </div>
                    <div class="form-group">
                        <label for="signUpFirstName">First Name</label>
                        <input type="textarea" class="form-control" id="signUpFirstName" placeholder="First Name" name="first_name">
                    </div>
                    <div class="form-group">
                        <label for="signUpLastName">Last Name</label>
                        <input type="textarea" class="form-control" id="signUpLastName" placeholder="Last Name" name="last_name">
                    </div>
                    
                    <div id="datetimepicker" class="input-append date">
                        <label for="signUpDate">Date of Birth</label>
                        <input type="text" class="form-control" placeholder="Date of Birth" name="date_of_birth"></input>

                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="textarea" class="form-control" id="city" placeholder="New York" name="city">
                    </div>

                    <div class="form-group">
                        <label for="zipcode">Zipcode</label>
                        <input type="textarea" class="form-control" id="zipcode" placeholder="10027" name="zipcode">
                    </div>


                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
          </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
